.carousel-item img {
    max-width: 800px; /* Максимальная ширина изображения */
    max-height: 400px; /* Максимальная высота изображения */
    width: auto; /* Автоматическая ширина, чтобы сохранить пропорции */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    margin: 0 auto; /* Центрирование изображения */
  }

  /* Стили для контейнера формы */
.container {
  max-width: 600px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрирование формы */
  padding: 20px; /* Отступы внутри контейнера */
  border: 1px solid #ccc; /* Рамка вокруг формы */
  border-radius: 8px; /* Скругление углов */
  background-color: #f9f9f900; /* Фоновый цвет */
}

.price-list, .about {
  max-width: 600px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрирование формы */
  padding: 20px; /* Отступы внутри контейнера */
  border: none; /* Рамка вокруг формы */
  border-radius: 8px; /* Скругление углов */
  background-color: #f9f9f900; /* Фоновый цвет */
}

/* Стили для выпадающего списка специальностей */
.form-select {
  width: 100%; /* Ширина в 100% от родительского контейнера */
  max-width: 400px; /* Максимальная ширина выпадающего списка */
}

/* Стили для кнопки отправки */
.btn-primary {
  background-color: #007bff; /* Цвет фона кнопки */
  border-color: #007bff; /* Цвет рамки кнопки */
}



/* Стили для меток */
.form-label {
  font-weight: bold; /* Жирный шрифт для меток */
}

/* Стили для полей ввода */
.form-control {
  border-radius: 4px; /* Скругление углов полей ввода */
  border: 1px solid #ccc; /* Цвет рамки полей ввода */
}

/* Стили для чекбокса */
.form-check {
  margin-top: 10px; /* Отступ сверху для чекбокса */
}

/* Стили для карточки */
.card {
  transition: transform 0.3s ease; /* Плавный переход для трансформации */
}

/* Эффект увеличения при наведении */
.card:hover {
  transform: scale(1.05); /* Увеличение карточки на 5% */
}


